html, body, div, h1, ul, li, input, a, span, p {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    direction: rtl;
    background-color: #eceff0;
}

.container {
    border-radius: 2px;
    background-color: white;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

.container .header {
    margin-bottom:10px;
}